version: '3.8'

services:
  client:
    build: ./client
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=http://server:4000
    depends_on:
      - server
    networks:
      - web
    volumes:
      - ./client:/app
      - /app/node_modules

  server:
    build: ./server
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=production
    networks:
      - web
    volumes:
      - ./server:/app
      - /app/node_modules

networks:
  web:
    driver: bridge
